  <div class="container mt-5">
    <div class="column justify-content-center">
      <h6>{{ tituloFormulario }}</h6>
      <div class="col-md-10">
        <!-- Listagem por ID -->
        <div class="card">
          <div class="card-header">
            Listagem por ID
          </div>
          <div class="card-body">
            <div class="d-flex justify-content-between mt-3">
              <form [formGroup]="formulario" (ngSubmit)="listarPorID()">
                <div class="form-group">
                  <label>ID do Cardápio</label>
                  <input type="number" class="form-control form-control-sm" formControlName="id" />
                </div>
                <div class="container">
                  <div class="row">
                      <div>
                          <button type="submit" class="btn btn-sm btn-outline-secondary">Listar por ID</button>
                      </div>
                      <div class="pl-1">
                          <button type="button" class="btn btn-sm btn-light" (click)="voltarParaHome()">Voltar</button>
                      </div>
                  </div>
                </div>
              </form>
              </div>
              <div *ngIf="showListByID">
                <div class="card mt-2">
                  <div class="card-body" *ngIf="cardapioByID">  
                    <p>Cardapio: {{ cardapioByID.id }}</p>
                      <p>Itens:</p>
                          <ul *ngIf="cardapioByID.itens">
                              <li *ngFor="let item of cardapioByID.itens">
                                  <p>Produto: {{ item.nome }}</p>
                                  <p>Preço: R$ {{ item.preco }}</p>
                                  <p>Categoria: {{ item.categoria }}</p>
                              </li>
                          </ul>
                  </div>
                </div>
              </div>
            
          </div>
        </div>
  
        <!-- Listagem Geral -->
        <div class="card mt-4">
          <div class="card-header">
            Listagem Geral
          </div>
          <div class="card-body">
            <div class="d-flex justify-content-between mt-3">
              <div class="btn-group">
                <button class="btn btn-primary" (click)="listarGeral()">Listar</button>
                <button class="btn btn-primary" (click)="voltarParaHome()">Voltar</button>
              </div>
            </div>
            <div *ngIf="showList">
              <div *ngFor="let cardapio of cardapios" class="card mt-2">
                <div class="card-body">
                    <p>Cardapio: {{ cardapio.id }}</p>
                    <p>Itens:</p>
                        <ul>
                            <li *ngFor="let item of cardapio.itens">
                                <p>Produto: {{ item.nome }}</p>
                                <p>Preço: R$ {{ item.preco }}</p>
                                <p>Categoria: {{ item.categoria }}</p>
                            </li>
                        </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>