<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="card">
          <div class="card-header">
            Listagem Geral
          </div>
          <div class="card-body">
            <div class="d-flex justify-content-between mt-3">
              <button class="btn btn-primary margin-right" (click)="listarGeral()">Listar</button>
              <button class="btn btn-primary margin-right" (click)="voltarParaHome()">Voltar</button>
            </div>
              <div *ngIf="showList">
                <div *ngFor="let cardapio of cardapios" class="card mt-2">
                  <div class="card-body">
                    <p>Cardapio: {{ cardapio.id }}</p>
                    <p>Itens:</p>
                        <ul>
                            <li *ngFor="let item of cardapio.itens">
                                <p>Produto: {{ item.nome }}</p>
                                <p>Preço: R$ {{ item.preco }}</p>
                                <p>Categoria: {{ item.categoria }}</p>
                            </li>
                        </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  