<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5> {{ tituloFormulario }}</h5>
          <form [formGroup]="formulario" (ngSubmit)="enviarFormulario()">
            <div class="form-group">
              <label>Data de Criação</label>
              <input type="date" class="form-control w-80" formControlName="dataCriacao" />
            </div>

            <div class="form-group">
              <label>Nome do Funcionario:</label>
              <select class="form-control w-80" id="funcionario" formControlName="funcionario">
                <option value="">Selecione um nome</option>
                <option *ngFor="let funcionario of funcionarios" [value]="funcionario.id">{{ funcionario.nome }}</option>
              </select>
            </div>

            <div class="form-group">
              <label>Nome do Gerente:</label>
              <select class="form-control w-80" id="gerente" formControlName="gerente">
                <option value="">Selecione um nome</option>
                <option *ngFor="let gerente of gerentes" [value]="gerente.id">{{ gerente.nome }}</option>
              </select>
            </div>

            <div class="form-group">
              <label>Nome do Produto:</label>
              <select class="form-control w-80" id="produto" formControlName="produto">
                <option value="">Selecione um nome</option>
                <option *ngFor="let produto of produtos" [value]="produto">{{ produto.nome }}</option>
              </select>
            </div>

            <div class="form-group">
              <label>Quantidade</label>
              <input type="text" class="form-control w-80" formControlName="qtde" />
            </div>
            <div class="d-flex justify-content-between">
              <button type="submit" class="btn btn-primary">Cadastrar</button>
              <button class="btn btn-primary" (click)="voltarParaHome()">Voltar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
