<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body mt-4">
          <!-- Adicione a classe "mt-4" para adicionar uma margem superior -->
          <h5>{{ tituloFormulario }}</h5>
          <form [formGroup]="formulario" (ngSubmit)="enviarFormulario()">
            <div class="form-group">
              <label>Selecione um produto que deseja excluir:</label>
              <select formControlName="produtoSelecionado" class="form-control" (change)="selecionarProduto($event)">
                <option *ngFor="let produto of produtos" [value]="produto.id">{{ produto.nome }}</option>
              </select>
              <div class="d-flex justify-content-between mt-3" >
                <button type="submit" class="btn btn-primary">Excluir</button>
                <button class="btn btn-primary" (click)="voltarParaHome()">Voltar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
