<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="card">
        <div class="card-body mt-4">
          <h5>{{ tituloFormulario }}</h5>
          <div class="d-flex justify-content-between mt-3">
            <button class="btn btn-primary margin-right" (click)="voltarParaHome()">Voltar</button>
          </div>
          <div>
            <div *ngFor="let pagamento of pagamentos" class="card mt-2">
              <div class="card-header">
                ID: {{ pagamento.id }}
              </div>
              <div class="card-body">
                <p>Data: {{ pagamento.data }}</p>
                <p>Valor: {{ pagamento.valor }}</p>
                <p>Forma de Pagamento: {{ pagamento.formaDePagamento }}</p>
                <p>Cliente: {{ pagamento.nomeCliente }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
