<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5> {{ tituloFormulario }}</h5>
          <form [formGroup]="formulario" (ngSubmit)="enviarFormulario()">

            <div class="form-group">
              <label> Selecione o ID do pedido que deseja alterar:</label>
              <select class="form-control w-80" id="pedidoSelecionado">
                <option value="">Selecione um ID...</option>
                <option *ngFor="let pedido of pedidos" [value]="pedido.id">{{ pedido.id }}</option>
              </select>
            </div>

            <div class="form-group">
              <label>Nome do Funcionario:</label>
              <select class="form-control w-80" id="funcionario">
                <option value="">Selecione um funcionario ...</option>
                <option *ngFor="let funcionario of funcionarios" [value]="funcionario.id">{{ funcionario.nome }}</option>
              </select>
            </div>

            <div class="form-group">
              <label>Nome do Gerente:</label>
              <select class="form-control w-80" id="gerente">
                <option value="">Selecione um gerente ...</option>
                <option *ngFor="let gerente of gerentes" [value]="gerente.id">{{ gerente.nome }}</option>
              </select>
            </div>

            <div class="form-group">
              <label>Nome do Produto:</label>
              <select class="form-control w-80" id="produto">
                <option value="">Selecione um produto ...</option>
                <option *ngFor="let produto of produtos" [value]="produto">{{ produto.nome }}</option>
              </select>
            </div>

            <div class="form-group">
              <label>Quantidade</label>
              <input type="text" class="form-control w-80" formControlName="qtde"/>
            </div>
            <div class="d-flex justify-content-between">
              <button type="submit" class="btn btn-primary">Alterar</button>
              <button class="btn btn-primary" (click)="voltarParaHome()">Voltar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
