.vs
/bin/
.class
.cache
\upsideCakes\upsideCakes\obj\Debug\net6.0\upsideCakes.GeneratedMSBuildEditorConfig.editorconfig
\upsideCakes\upsideCakes\obj\Debug\net6.0\upsideCakes.assets.cache
\upsideCakes\upsideCakes\obj\Debug\net6.0\upsideCakes.GeneratedMSBuildEditorConfig.editorconfig