<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5>{{ tituloFormulario }}</h5>
            <form [formGroup]="formulario" (ngSubmit)="enviarFormulario()">

              <div class="form-group">
                <label>Selecione um ID de Pagamento:</label>
                <select formControlName="idPagamento" class="form-control" (change)="selecionarPagamento($event)">
                  <option *ngFor="let pagamento of pagamentos" [value]="pagamento.id">{{ pagamento.id }}</option>
                </select>
              </div>

              <div class="form-group">
                <label>Valor</label>
                <input type="number" class="form-control" formControlName="valor" />
              </div>

              <div class="form-group">
                <label>Forma de Pagamento:</label>
                <select formControlName="formaDePagamento" class="form-control">
                  <option *ngFor="let opcao of opcoesPagamento" [value]="opcao">{{ opcao }}</option>
                </select>
              </div>


              <div class="form-group">
                <label>Cliente</label>
                <select formControlName="nomeCliente" class="form-control">
                  <option *ngFor="let cliente of clientes" [value]="cliente.nome">{{ cliente.nome }}</option>
                </select>
              </div>

              <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-primary">Alterar</button>
                <button class="btn btn-primary" (click)="voltarParaHome()">Voltar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
