<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-10">

      <div class="card">
        <div class="card-body mt-4">
          <h5>{{ tituloFormulario }}</h5>
          <div class="form-group">
            <label for="idFilial">Nome da Filial:</label>
            <select class="form-control" id="idFilial" [(ngModel)]="idFilial">
              <option value="">Selecione uma Filial</option>
              <option *ngFor="let filial of filiais" [value]="filial.id">{{ filial.cidade }}</option>
            </select>
          </div>
          <div class="d-flex justify-content-between mt-3">
            <button class="btn btn-primary margin-right" (click)="listarPorId()">Buscar</button>
            <button class="btn btn-primary margin-right" (click)="voltarParaHome()">Voltar</button>
          </div>
          <div *ngIf="!showList">
            <div *ngFor="let filial of filialByID" class="card mt-2">
              <div class="card-header">
                <b>{{ filial.cidade }}</b>
              </div>
              <div class="card-body">
                <p>Endereço: {{ filial.rua }}</p>
                <p>CEP: {{ filial.cep }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          Listagem Geral
        </div>
        <div class="card-body">
          <div class="d-flex justify-content-between mt-3">
            <button class="btn btn-primary margin-right" (click)="listarGeral()">Listar Todos</button>
            <button class="btn btn-primary margin-right" (click)="voltarParaHome()">Voltar</button>
          </div>
          <div *ngIf="showList">
            <div *ngFor="let filial of filiais" class="card mt-2">
              <div class="card-header">
                <b>{{ filial.cidade }}</b>
              </div>
              <div class="card-body">
                <p>Endereço: {{ filial.rua }}</p>
                <p>CEP: {{ filial.cep }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
