<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5>{{ tituloFormulario }}</h5>
          <form [formGroup]="formulario" (ngSubmit)="enviarFormulario()">
            <div class="form-group">
              <label>Selecione um produto:</label>
              <select formControlName="produtoSelecionado" class="form-control" (change)="selecionarProduto($event)">
                <option *ngFor="let produto of produtos" [value]="produto.id">{{ produto.nome }}</option>
              </select>
            </div>
            <div class="form-group">
              <label>Novo nome</label>
              <input type="text" class="form-control" formControlName="nome" />
            </div>
            <div class="form-group">
              <label>Novo preço</label>
              <input type="number" class="form-control" formControlName="preco" />
            </div>
            <div class="form-group">
              <label>Nova categoria</label>
              <input type="text" class="form-control" formControlName="categoria" />
            </div>
            <div class="d-flex justify-content-between">
              <button type="submit" class="btn btn-primary">Alterar</button>
              <button class="btn btn-primary" (click)="voltarParaHome()">Voltar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
