<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="card">
        <div class="card-body mt-4">
          <h5>{{ tituloFormulario }}</h5>
          <div class="form-group">
            <label for="nomeProduto">Nome do Produto:</label>
            <select class="form-control" id="nomeProduto" [(ngModel)]="nomeProduto">
              <option value="">Selecione um nome</option>
              <option *ngFor="let nome of opcoesNomes" [value]="nome">{{ nome }}</option>
            </select>
          </div>
          <div class="d-flex justify-content-between mt-3">
            <button class="btn btn-primary margin-right" (click)="listarPorNome()">Listar por Nome</button>
            <button class="btn btn-primary margin-right" (click)="voltarParaHome()">Voltar</button>
          </div>
          <div *ngIf="!mostrarListagemGeral">
            <div *ngFor="let produto of produtosPorNome" class="card mt-2">
              <div class="card-header">
                {{ produto.nome }}
              </div>
              <div class="card-body">
                <p>Preço: {{ produto.preco }}</p>
                <p>Categoria: {{ produto.categoria }}</p>
              </div>
            </div>
          </div>
        </div>
        </div>

      <div class="card">
        <div class="card-header">
          Listagem Geral
        </div>
        <div class="card-body">
          <div class="d-flex justify-content-between mt-3">
            <button class="btn btn-primary margin-right" (click)="listarGeral()">Listar Todos</button>
            <button class="btn btn-primary margin-right" (click)="voltarParaHome()">Voltar</button>
          </div>
            <div *ngIf="mostrarListagemGeral">
              <div *ngFor="let produto of produtos" class="card mt-2">
                <div class="card-header">
                  {{ produto.nome }}
                </div>
                <div class="card-body">
                  <p>Preço: {{ produto.preco }}</p>
                  <p>Categoria: {{ produto.categoria }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
