<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Produtos</h5>
          <p class="card-text">Clique nos botões abaixo para gerenciar CRUD de produtos.</p>
          <div>
            <a routerLink="/produtos/cadastrar" class="btn btn-primary mr-2">Cadastrar</a>
            <a routerLink="/produtos/alterar" class="btn btn-primary mr-2">Alterar</a>
            <a routerLink="/produtos/listar" class="btn btn-primary mr-2">Listar</a>
            <a routerLink="/produtos/deletar" class="btn btn-primary">Deletar</a>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title">Filial</h5>
          <p class="card-text">Clique nos botões para gerenciar as filiais.</p>
          <div>
            <a routerLink="/filial/cadastrar" class="btn btn-primary mr-2">Cadastrar</a>
            <a routerLink="/filial/alterar" class="btn btn-primary mr-2" >Alterar</a>
            <a routerLink="/filial/listar" class="btn btn-primary mr-2">Listar</a>
            <a routerLink="/filial/excluir" class="btn btn-primary">Deletar</a>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title">Cardápio</h5>
          <p class="card-text">Clique nos botões para gerenciar os cardápios.</p>
          <div>
            <a routerLink="/cardapio/cadastrar" class="btn btn-primary mr-2">Cadastrar</a>
            <a routerLink="/cardapio/addItem" class="btn btn-primary mr-2">Adicionar item</a>
            <a routerLink="/cardapio/alterar" class="btn btn-primary mr-2" >Alterar</a>
            <a routerLink="/cardapio/listar" class="btn btn-primary mr-2">Listar</a>
            <a routerLink="/cardapio/excluir" class="btn btn-primary">Deletar</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Funcionarios </h5>
          <p class="card-text">Clique nos botões abaixo para gerenciar CRUD de Funcionarios.</p>
          <div>
            <a routerLink="/funcionario/cadastrar" class="btn btn-primary mr-2">Cadastrar</a>
            <a routerLink="/funcionario/alterar" class="btn btn-primary mr-2">Alterar</a>
            <a routerLink="/funcionario/listar" class="btn btn-primary mr-2">Listar</a>
            <a routerLink="/funcionario/deletar" class="btn btn-primary">Deletar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- segunda linha -->

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <hr>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Gerente </h5>
          <p class="card-text">Clique nos botões abaixo para gerenciar CRUD de gerentes.</p>
          <div>
            <a routerLink="/gerente/cadastrar" class="btn btn-primary mr-2">Cadastrar</a>
            <a routerLink="/gerente/alterar" class="btn btn-primary mr-2">Alterar</a>
            <a routerLink="/gerente/listar" class="btn btn-primary mr-2">Listar</a>
            <a routerLink="/gerente/deletar" class="btn btn-primary">Deletar</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <hr>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Pagamento </h5>
          <p class="card-text">Clique nos botões abaixo para gerenciar CRUD de pagamentos.</p>
          <div>
            <a routerLink="/pagamentos/cadastrar" class="btn btn-primary mr-2">Cadastrar</a>
            <a routerLink="/pagamentos/alterar" class="btn btn-primary mr-2">Alterar</a>
            <a routerLink="/pagamentos/listar" class="btn btn-primary mr-2">Listar</a>
            <a routerLink="/pagamentos/deletar" class="btn btn-primary">Deletar</a>
          <h5 class="card-title">Clientes </h5>
          <p class="card-text">Clique nos botões abaixo para gerenciar CRUD de clientess.</p>
          <div>
            <a routerLink="/cliente/cadastrar" class="btn btn-primary mr-2">Cadastrar</a>
            <a routerLink="/cliente/alterar" class="btn btn-primary mr-2">Alterar</a>
            <a routerLink="/cliente/listar" class="btn btn-primary mr-2">Listar</a>
            <a routerLink="/cliente/deletar" class="btn btn-primary">Deletar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- teceira linha -->

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <hr>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Gerente </h5>
          <p class="card-text">Clique nos botões abaixo para gerenciar CRUD de gerentes.</p>
          <div>
            <a routerLink="/gerente/cadastrar" class="btn btn-primary mr-2">Cadastrar</a>
            <a routerLink="/gerente/alterar" class="btn btn-primary mr-2">Alterar</a>
            <a routerLink="/gerente/listar" class="btn btn-primary mr-2">Listar</a>
            <a routerLink="/gerente/deletar" class="btn btn-primary">Deletar</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <hr>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Pedidos </h5>
          <p class="card-text">Clique nos botões abaixo para gerenciar CRUD de pedidos.</p>
          <div>
            <a routerLink="/pedido/cadastrar" class="btn btn-primary mr-2">Cadastrar</a>
            <a routerLink="/pedido/alterar" class="btn btn-primary mr-2">Alterar</a>
            <a routerLink="/pedido/listar" class="btn btn-primary mr-2">Listar</a>
            <a routerLink="/pedido/deletar" class="btn btn-primary">Deletar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


