<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Produtos</h5>
          <p class="card-text">Clique nos botões abaixo para gerenciar CRUD de produtos.</p>
          <div>
            <a routerLink="/produtos/cadastrar" class="btn btn-primary mr-2">Cadastrar</a>
            <a routerLink="/produtos/alterar" class="btn btn-primary mr-2" >Alterar</a>
            <a routerLink="/produtos/listar" class="btn btn-primary mr-2">Listar</a>
            <a routerLink="/produtos/deletar" class="btn btn-primary">Deletar</a>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title">Filial</h5>
          <p class="card-text">Clique nos botões para gerenciar as filiais.</p>
          <div>
            <a routerLink="/filial/cadastrar" class="btn btn-primary mr-2">Cadastrar</a>
            <a routerLink="/filial/alterar" class="btn btn-primary mr-2" >Alterar</a>
            <a routerLink="/filial/listar" class="btn btn-primary mr-2">Listar</a>
            <a routerLink="/filial/excluir" class="btn btn-primary">Deletar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
