<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5>{{ tituloFormulario }}</h5>
            <form [formGroup]="formulario" (ngSubmit)="enviarFormulario()">
              <div class="form-group">
                <label>Data</label>
                <input type="date" class="form-control" formControlName="data" />
              </div>
              <div class="form-group">
                <label>Cliente</label>
                <select formControlName="clientes" class="form-control">
                  <option *ngFor="let cliente of clientes" [value]="cliente">{{ cliente.nome }}</option>
                </select>
              </div>
              <div class="form-group">
                <label>Valor</label>
                <input type="number" class="form-control" formControlName="valor" />
              </div>
              <div class="form-group">
                <label>Forma de Pagamento</label>
                <input type="text" class="form-control" formControlName="formaDePagamento" />
              </div>
              <div class="form-group">
                <label>Pedido</label>
                <select formControlName="pedidos" class="form-control">
                  <option *ngFor="let pedido of pedidos" [value]="pedido">{{ pedido.descricao }}</option>
                </select>
              </div>
              <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-primary">Cadastrar</button>
                <button class="btn btn-primary" (click)="voltarParaHome()">Voltar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  